* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Segoe UI", sans-serif;
}

.card {
  width: 720px;
  margin: 250px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  box-shadow: -12px 9px 90px -16px rgba(0,0,0,1);
  -webkit-box-shadow: -12px 9px 90px -16px rgba(0,0,0,1);
  -moz-box-shadow: -12px 9px 90px -16px rgba(0,0,0,1);
  display: flex;
  flex-direction: row;
}

.card__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card__left > a {
  margin-top: 16px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: 400;

}

.card__left > p {
  color: gray;
}

.card__left > span {
  font-weight: 400;
}
